#blog  {
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 10px;
}

#blog_header {
    width: 100%;
}

#blog > p {
    padding: 10px;
}

#btnComment {
    margin: 10px;
}

.comment {
    width: 100%;
    background-color: #eeeeee;
    padding: 10px;
    margin: 10px;
}
